@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: "dm-sans", sans-serif !important;
}

.main-font {
  font-family: "teko", sans-serif !important;
}

.image-cover::after {
  content: "";
  position: absolute !important;
  left: 0 !important;
  top: 0 !important;
  width: 100% !important;
  height: 100% !important;
  background: radial-gradient(
    at center,
    transparent,
    rgba(0, 0, 0, 0.5)
  ) !important;
  z-index: 10 !important;
}

.to-bg::before {
  content: "";
  position: absolute !important;
  background: url("/images/bg.0d4c9dd2.jpg");
  background-size: cover !important;
  width: calc(100vw - 1rem) !important;
  height: 100vh !important;
  z-index: -2;
}

.to-bg::after {
  content: "";
  position: absolute !important;
  background: radial-gradient(at center, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 1));
  width: calc(100vw - 1rem) !important;
  height: 100vh !important;
  z-index: -1;
}
